<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Avisos Peor es Nada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="listaDeAvisos.length === 0" class="ion-text-center ion-padding-top">
    <ion-icon name="chatbox-ellipses-outline" style="font-size: 48px; color: #ccc;"></ion-icon>
    <p>No hay avisos publicados todavía. ¡Sé el primero!</p>
  </div>

  <app-tarjeta-publicacion 
    *ngFor="let aviso de listaDeAvisos" 
    [publicacionAviso]="aviso"
    (solicitarEliminacion)="manejarEliminacion($event)">
  </app-tarjeta-publicacion>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/registro-publicacion">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>