.tarjeta-comunitaria {
  margin: 10px 0;
  border-radius: 8px;
  border-left: 5px solid var(--ion-color-primary);

  ion-thumbnail {
    --border-radius: 4px;
    width: 60px;
    height: 60px;
  }

  h2 {
    font-weight: bold;
    color: var(--ion-color-dark);
  }
}