<ion-card class="tarjeta-comunitaria">
  <ion-item lines="none">
    <ion-thumbnail slot="start" *ngIf="publicacionAviso.imagenAdjunta">
      <img [src]="publicacionAviso.imagenAdjunta" alt="Aviso" />
    </ion-thumbnail>
    
    <ion-label>
      <h2 class="ion-text-wrap"><b>{{ publicacionAviso.tituloAviso }}</b></h2>
      <p>{{ publicacionAviso.fechaCreacion | formatoPublicacion }}</p>
    </ion-label>

    <ion-button slot="end" fill="clear" color="danger" (click)="onEliminarClick()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
  
  <ion-card-content *ngIf="publicacionAviso.detalleAviso">
    <p class="ion-text-wrap">{{ publicacionAviso.detalleAviso }}</p>
  </ion-card-content>
</ion-card>